@import "../colors/colors";
@import "../utils/mixins";
.password {
  margin: 3rem 0;
  min-height: calc(100vh - 9.3125rem);
  @include flexbox(center, center, null, null);
  border-radius: 4px;
  &__wrapper {
    padding: 2.5rem;
    max-width: 500px;
    background-color: $header-bg-color;
    @include flexbox(flex-start, null, column, 1rem);
    &__header {
      h1 {
        color: $white;
      }
    }
    &__image {
      width: 100%;
      background-color: black;
      @include flexbox(center, center, null, null);
      padding: 1rem;
    }
    &__text {
      color: #dddd;
      font-size: 13px;
    }
    &__form {
      display: flex;
      width: 100%;
      form {
        @include flexbox(flex-start, null, column, 1rem);
        width: 100%;
        input,
        button {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 34.375rem) {
  .password {
    &__wrapper {
      max-width: 300px;
    }
  }
}
