$header-bg-color: rgb(30, 31, 36);
$body-bg-color: rgb(16, 17, 20);
$primary-color: rgb(224, 75, 0);
$secondary-blue: rgb(135, 219, 230);
$button-blue: rgb(8, 130, 154);
$primary-blue: rgb(13, 47, 64);
$white: #fff;
$select-bg-color: #35373D;
